body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: #0c1170; }

.hover {
  color: #0c1170; }

body {
  font-family: "Raleway", sans-serif; }

.activeItem {
  font-weight: bold;
  color: #135637; }

.flexSeparateItems > * {
  margin-left: 10px; }

.mainSectionSpace {
  padding: 10px; }

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px; }
  .inputWrapper input {
    height: 30px;
    border-radius: 10px; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "content" "footer";
  height: 100vh;
  background-image: linear-gradient(to right bottom, #aff1da, #b6f3c8, #c6f2b4, #deef9f, #f9ea8f); }
  .container .containerContent {
    padding-bottom: 20px;
    overflow-y: auto; }
    .container .containerContent h1 {
      text-align: center;
      -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.containerHeader {
  display: grid;
  grid-area: header;
  background-color: #ffffff99;
  border-bottom: 2px solid #a9b7a6;
  font-weight: 400; }
  .containerHeader .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .containerHeader .headerTop .headerLogo img {
      width: 70px;
      height: 70px; }
    .containerHeader .headerTop .headerNavbar nav {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .containerHeader .headerTop .headerNavbar ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .containerHeader .headerTop .headerBottom .searchNav .buttonNavbar {
      width: 100px;
      border-radius: 50px;
      color: #135637;
      background-color: #b9f1c9; }
    .containerHeader .headerTop .headerBottom .searchNav input {
      border-radius: 20px;
      color: #135637; }

/* --------------------------------- */
.index .banner h1 {
  text-align: center;
  color: #174343;
  font-family: fantasy;
  font-size: xx-large;
  font-weight: 1200;
  padding: 8px; }

.index .banner h2 {
  text-align: center;
  color: #174343;
  font-size: x-large;
  font-weight: 800;
  padding: 8px; }

.img-1 img {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 200px; }

.containerCards {
  width: 100%;
  max-width: max-content;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .containerCards .card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(205, 104, 104, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    padding-bottom: 10px; }
    .containerCards .card img {
      width: 330px;
      height: 220px; }
    .containerCards .card :hover {
      transform: translate(15px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
    .containerCards .card h3 {
      font-weight: 600; }
    .containerCards .card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .containerCards .card a {
      font-weight: 500;
      text-decoration: none;
      color: green; }

.containerFooter {
  grid-area: footer;
  border-top: 2px solid #a9b7a6; }
  .containerFooter .socialMedia {
    display: flex;
    justify-content: center; }
    .containerFooter .socialMedia img {
      object-fit: cover;
      width: 30px;
      height: 30px; }

.containerContent .contentFormRecipe {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .containerContent .contentFormRecipe .imgReceta {
    margin-right: 80px; }
    .containerContent .contentFormRecipe .imgReceta img {
      object-fit: cover;
      width: 405px;
      height: 420px;
      margin-top: 60px;
      border: 42px solid #135637; }
  .containerContent .contentFormRecipe .subiTuReceta {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 40px; }
    .containerContent .contentFormRecipe .subiTuReceta form {
      width: 350px; }
    .containerContent .contentFormRecipe .subiTuReceta button {
      width: 100%; }

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px; }
  .blog .blogImage {
    display: flex;
    justify-content: flex-end; }
    .blog .blogImage img {
      border: 42px solid #1d3917;
      object-fit: cover;
      width: 405px;
      height: 420px; }
  .blog .blogParrafo p {
    width: 405px;
    font-size: medium;
    margin-top: 5px;
    text-align: justify; }

.containerNoticias {
  padding: 15px 50px;
  font-size: smaller; }
  .containerNoticias h1 {
    display: flex;
    justify-content: center;
    color: #174343;
    padding-bottom: 20rm; }
  .containerNoticias h2 {
    color: black;
    text-decoration: none; }
  .containerNoticias h2:hover {
    color: #2b6523; }
  .containerNoticias .containerNoticiasUp {
    display: flex;
    flex-direction: column; }
    .containerNoticias .containerNoticiasUp .noticia-1 {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px; }
      .containerNoticias .containerNoticiasUp .noticia-1 img {
        height: 100px; }
    .containerNoticias .containerNoticiasUp .noticia-2 {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px; }
      .containerNoticias .containerNoticiasUp .noticia-2 img {
        height: 100px; }
  .containerNoticias .containerNoticiasDown {
    display: flex;
    flex-direction: row; }
    .containerNoticias .containerNoticiasDown .noticia-3 {
      display: flex;
      flex-direction: row;
      margin-right: 15px; }
      .containerNoticias .containerNoticiasDown .noticia-3 img {
        height: 100px; }
    .containerNoticias .containerNoticiasDown .noticia-4 {
      display: flex;
      flex-direction: row; }
      .containerNoticias .containerNoticiasDown .noticia-4 img {
        height: 100px; }
  .containerNoticias p {
    max-width: 96%;
    text-align: justify; }

.containerRecipes {
  width: 100%;
  margin: auto; }
  .containerRecipes h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: #174343;
    font-size: xx-large;
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .containerRecipes .recipesImg {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 20%); }
    .containerRecipes .recipesImg .foodImage {
      margin: 5px;
      margin-top: 5px;
      margin-right: 5px;
      width: 250px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(205, 104, 104, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center; }
      .containerRecipes .recipesImg .foodImage img {
        width: 200px;
        height: 100px; }
      .containerRecipes .recipesImg .foodImage :hover {
        transform: translate(15px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
      .containerRecipes .recipesImg .foodImage h3 {
        font-weight: 600; }
      .containerRecipes .recipesImg .foodImage p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300; }
      .containerRecipes .recipesImg .foodImage a {
        font-weight: 500;
        text-decoration: none;
        color: green; }

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

.searchBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .searchBarWrapper .searchNav {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .searchBarWrapper .searchNav input {
      height: 25px;
      background-color: #eaf5e5; }

.button-basic, .button-search, .button-submit {
  border-radius: 20px;
  padding: 2px 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer; }

.button-search {
  color: #1d3917;
  background-color: #b9f1c9; }

.button-submit {
  color: #ffff;
  background-color: #ababa7; }

@media (max-width: 576px) {
  .containerContent .recipesContainer {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 576px) {
  .containerContent {
    background-color: #b9f1c9; }
  .containerContent .banner img {
    height: 100px; } }

@media (max-width: 576px) {
  .searchNav {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .searchNav input {
      height: 10px; }
    .searchNav button {
      padding: 5px;
      height: 10px;
      font-size: 7px; }
  .blog {
    grid-template-columns: 1fr;
    background-color: #b9f1c9; }
  .blog .blogParrafo {
    margin-top: 0px; } }

@media (max-width: 576px) {
  .containerContent .containerNoticias {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 576px) {
  .containerContent .contentFormRecipe {
    display: grid;
    grid-template-columns: repeat(1, 100%); } }

@media (max-width: 768px) {
  .containerHeader .headerTop {
    display: flex;
    flex-direction: column; }
  .containerHeader .headerBottom {
    display: none; } }

@media (max-width: 768px) {
  .containerContent .recipesContainer {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 768px) {
  .containerContent {
    background-color: #b9f1c9; }
  .containerContent .index .banner h1 {
    text-align: center; }
  .containerContent .index .banner h2 {
    text-align: center; }
  .containerContent .index .containerCards {
    display: flex;
    flex-direction: row;
    height: 0%; }
  footer {
    background-color: #b9f1c9; } }

@media (max-width: 768px) {
  .blog {
    grid-gap: 0;
    grid-template-columns: repeat(1, 100%); }
    .blog .blogParrafo {
      margin-top: 0px;
      display: flex;
      justify-content: center; }
    .blog .blogImage {
      justify-content: center; } }

@media (max-width: 768px) {
  .containerContent .containerNoticias {
    font-size: x-small;
    padding: 30px; }
    .containerContent .containerNoticias .containerNoticiasUp .noticia-1 img {
      height: 100px; }
    .containerContent .containerNoticias .containerNoticiasUp .noticia-2 img {
      height: 100px; }
    .containerContent .containerNoticias .containerNoticiasDown {
      display: flex;
      flex-direction: column; }
      .containerContent .containerNoticias .containerNoticiasDown .noticia-3 {
        margin-right: 0;
        margin-bottom: 15px; }
        .containerContent .containerNoticias .containerNoticiasDown .noticia-3 img {
          height: 100px; }
      .containerContent .containerNoticias .containerNoticiasDown .noticia-4 img {
        height: 100px;
        align-content: center; } }

@media (max-width: 768px) {
  .containerRecipes {
    width: auto; }
    .containerRecipes .subiTuReceta h1 {
      justify-items: center; }
    .containerRecipes .recipesImg {
      grid-template-columns: repeat(1, 100%); } }

@media (max-width: 768px) {
  .containerContent .contentFormRecipe .imgReceta {
    margin-right: 0px;
    display: flex;
    justify-content: center; }
  .containerContent .contentFormRecipe .subiTuReceta {
    justify-content: center;
    flex-direction: row; } }

@media (max-width: 768px) {
  .containerContent .contentFormRecipe {
    padding: inherit;
    display: grid;
    grid-template-columns: repeat(1, 100%); } }
