* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(12, 17, 112);
}

.flexSeparateItems>* {
  margin-left: 10px;
}

.mainSectionSpace {
  padding: 10px;
}

.activeItem {
  font-weight: bold;
  color: rgb(9, 50, 31);
}

/* --------------------------------- */

.container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-gap: 10px;
  height: 100vh;

  background-image: linear-gradient(to right bottom,
      #aff1da,
      #b6f3c8,
      #c6f2b4,
      #deef9f,
      #f9ea8f);
}

/* --------------------------------- */

.containerHeader {
  grid-area: header;
  display: flex;
  flex-direction: column;
  background-color: #ffffff99;
  border-bottom: 2px solid #a9b7a6;
  font-weight: 400;
}

.containerHeader .headerTop {
  display: flex;
  justify-content: flex-end;
}

.containerHeader .headerBottom {
  display: flex;
  justify-content: center;
}

.containerHeader .headerBottom nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* --------------------------------- */

.containerContent {
  grid-area: content;
}

.containerContent .mainTitle {
  text-align: center;
}

.containerContent .banner {
  margin-bottom: 30px;
}

.containerContent .banner img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

@media (max-width: 768px) {
  .containerContent {

    background-color: #c6f2b4;
  }


  .containerContent .banner img {
    height: 150px;
  }
}

.containerContent .recipesContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 768px) {
  .containerContent .recipesContainer {
    flex-direction: column;
    align-items: center;
  }
}

.containerContent .recipesContainer .recipe {
  width: 250px;
}

.containerContent .recipesContainer .recipe img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* --------------------------------- */

.containerFooter {
  grid-area: footer;
  border-top: 2px solid #a9b7a6;
  background-color: #ffffff99;
}

.containerFooter .socialMedia {
  display: flex;
  justify-content: flex-end;
}

.containerFooter .socialMedia img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

/* --------------form subiTuReceta------------------- */
.contentFormRecipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 20px;
  justify-items: center;
}

.subiTuReceta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.subiTuReceta h1 {

  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}


@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


.contentFormRecipe .subiTuReceta {
  font-size: large;
  margin-top: 40px;
}


.subiTuReceta .imgReceta {
  width: 488px;
  height: 500px;
  border: 42px solid rgb(29, 57, 23);
}


.imgReceta img {
  object-fit: cover;
  width: 405px;
  height: 420px;
  margin-top: 60px;
}


/* --------------form Blog------------------- */
.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  padding: 30px;
  justify-items: center;
}


.blog .blogParrafo {
  font-size: larger;
  margin-top: 50px;
}

.blog .blogImage {
  width: 488px;
  height: 500px;
  border: 42px solid rgb(29, 57, 23);
}

.blogImage img {
  object-fit: cover;
  width: 405px;
  height: 420px;
}

@media (max-width: 768px) {
  .blog {
    grid-template-columns: 1fr;
  }

  .blog .blogParrafo {
    margin-top: 0px;
  }
}

/* --------------form Noticias------------------- */
.containerNoticias {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: rgb(23, 67, 67);
}

h2 {
  color: black;
  text-decoration: none;
}

h2:hover {
  color: rgb(43, 101, 35);
}

/* --------------form Recetas------------------- */
.containerRecipes {
  width: 100%;
  margin: auto;
}

.containerRecipes .recipesImg {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 25%);

}

.containerRecipes h1 {
  margin-left: 90px;
  color: rgb(28, 63, 28);
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}


.containerRecipes .recipesImg .foodImage {
  margin: 5px;
  margin-top: 5px;
  margin-right: 5px;

}

.containerRecipes .recipesImg .foodImage img {
  object-fit: fill;
  width: 200px;
  height: 130px;
  margin-top: 30px;

}


@media (max-width: 1200px) {
  .containerRecipes {
    width: 1200px;
  }

  .containerRecipes .recipesImg {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 1024px) {
  .containerRecipes {
    width: 1024px;
  }

  .containerRecipe .recipesImg {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 768px) {

  .containerRecipes .recipesImg {
    grid-template-columns: repeat(3, 33.3)
  }