.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;

  .blogImage {
    display: flex;
    justify-content: flex-end;
    img {
      border: 42px solid $borde-recuadro;
      object-fit: cover;
      width: 405px;
      height: 420px;
    }
  }

  .blogParrafo {
    p {
      width: 405px;
      font-size: medium;
      margin-top: 5px;
      text-align: justify;
    }
  }
}
