@media (max-width: 768px) {
  .containerHeader {
    .headerTop {
      display: flex;
      flex-direction: column;
    }
    .headerBottom {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .containerContent .recipesContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .containerContent {
    background-color: $color-media;
  }

  .containerContent {
    .index {
      .banner {
        h1 {
          text-align: center;
        }
        h2 {
          text-align: center;
        }
      }
      .containerCards {
        @include flexRow;
        height: 0%;
      }
    }
  }

  footer {
    background-color: $color-media;
  }
}

@media (max-width: 768px) {
  .blog {
    grid-gap: 0;
    grid-template-columns: repeat(1, 100%);

    .blogParrafo {
      margin-top: 0px;
      display: flex;
      justify-content: center;
    }

    .blogImage {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .containerContent {
    .containerNoticias {
      font-size: x-small;
      padding: 30px;
      .containerNoticiasUp {
        .noticia-1 {
          img {
            height: 100px;
          }
        }
        .noticia-2 {
          img {
            height: 100px;
          }
        }
      }
      .containerNoticiasDown {
        display: flex;
        flex-direction: column;
        .noticia-3 {
          margin-right: 0;
          margin-bottom: 15px;

          img {
            height: 100px;
          }
        }

        .noticia-4 {
          img {
            height: 100px;
            align-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .containerRecipes {
    width: auto;
    .subiTuReceta {
      h1 {
        justify-items: center;
      }
    }
    .recipesImg {
      grid-template-columns: repeat(1, 100%);
    }
  }
}

@media (max-width: 768px) {
  .containerContent {
    .contentFormRecipe {
      .imgReceta {
        margin-right: 0px;
        display: flex;
        justify-content: center;
      }

      .subiTuReceta {
        justify-content: center;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 768px) {
  .containerContent {
    .contentFormRecipe {
      padding: inherit;
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }
}
