.containerNoticias {
  padding: 15px 50px;
  font-size: smaller;

  h1 {
    display: flex;
    justify-content: center;
    color: $color-h1;
    padding-bottom: 20rm;
  }

  h2 {
    color: $negro;
    text-decoration: none;
  }

  h2:hover {
    color: $color-hover;
  }

  .containerNoticiasUp {
    @include flexColum;

    .noticia-1 {
      @include flexRow;
      margin-bottom: 30px;

      img {
        height: 100px;
      }
    }
    .noticia-2 {
      @include flexRow;
      margin-bottom: 30px;

      img {
        height: 100px;
      }
    }
  }

  .containerNoticiasDown {
    @include flexRow;

    .noticia-3 {
      @include flexRow;
      margin-right: 15px;

      img {
        height: 100px;
      }
    }
    .noticia-4 {
      @include flexRow;

      img {
        height: 100px;
      }
    }
  }

  p {
    max-width: 96%;
    text-align: justify;
  }
}
