.containerNoticias {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: $color-h1;
  }

  h2 {
    color: $negro;
    text-decoration: none;
  }

  h2:hover {
    color: $color-hover;
  }
}
