.containerRecipes {
  width: 100%;
  margin: auto;
  h1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: $color-h1;
    font-size: xx-large;

    -webkit-animation: tracking-in-expand-fwd 0.8s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
      both;
  }

  .recipesImg {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 20%);

    .foodImage {
      margin: 5px;
      margin-top: 5px;
      margin-right: 5px;
      width: 250px;
      height: 200px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(205, 104, 104, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0, 25s;

      img {
        width: 200px;
        height: 100px;
      }

      :hover {
        transform: translate(15px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      }

      h3 {
        font-weight: 600;
      }
      p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
      }

      a {
        font-weight: 500;
        text-decoration: none;
        color: green;
      }
    }
  }

  @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }

  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }

    40% {
      opacity: 0.6;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}
