@media (max-width: 768px) {
  .container {
    background-color: $color-media;
    Footer {
      background-color: $color-media;
    }
  }
}
@media (max-width: 520px) {
  .container {
    background-color: $color-media;
    Footer {
      background-color: $color-media;
    }
  }
}

@media (max-width: 768px) {
  .blog {
    grid-template-columns: 1fr;

    .blogParrafo {
      margin-top: 0px;
    }
  }
}

@media (max-width: 768px) {
  .containerNoticias {
    grid-template-columns: 1fr;
    h1 {
      justify-content: center;
    }
    h2 {
      justify-content: center;
    }
  }
}

@media (max-width: 1200px) {
  .containerRecipes {
    width: 1200px;
  }
  .recipesImg {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 1024px) {
  .containerRecipes {
    width: 1024px;
  }

  .containerRecipe .recipesImg {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 768px) {
  .containerRecipes .recipesImg {
    grid-template-columns: repeat(3, 33.3);
  }
}

@media (max-width: 768px) {
  .contentFormRecipe {
    display: grid;

    .imgReceta img {
      grid-template-columns: 1fr;

      .subiTuReceta {
        margin-top: 0px;
      }
    }
  }
}
