.container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;

  background-image: linear-gradient(
    to right bottom,
    #aff1da,
    #b6f3c8,
    #c6f2b4,
    #deef9f,
    #f9ea8f
  );

  .containerContent {
    h1 {
      text-align: center;
      -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
    }

    padding-bottom: 20px;
  }
}
