.index {
  .banner {
    h1 {
      display: flex;
      justify-content: center;
      color: $color-h1;
      font-family: fantasy;
      font-size: xx-large;
      font-weight: 1200;
      padding: 8px;
    }
    h2 {
      display: flex;
      justify-content: center;
      color: $color-h1;
      font-size: x-large;
      font-weight: 800;
      padding: 8px;
    }
  }
}
.img-1 img {
  display: flex;
  width: 200px;
  height: 100px;
  margin-left: 200px;
}

.containerCards {
  width: 100%;
  max-width: max-content;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  .card {
    width: 300px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(205, 104, 104, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0, 25s;

    img {
      width: 330px;
      height: 220px;
    }

    :hover {
      transform: translate(15px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-weight: 600;
    }
    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: green;
    }
  }
}
