.index {
  grid-area: content;

  .mainTitle {
    text-align: center;
  }

  .banner {
    margin-bottom: 30px;

    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
    }
  }

  .recipesContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .recipe {
      width: 250px;

      img {
        object-fit: cover;
        width: 100%;
        height: 200px;
      }
    }
  }
}
