.searchBarWrapper {
  @include flexRow;
  justify-content: center;

  .searchNav {
    @include flexRow;

    justify-content: center;

    input {
      height: 25px;
      background-color: #eaf5e5;
    }
  }
}
