.activeItem {
  font-weight: bold;
  color: $verde-activeItem;
}

.flexSeparateItems > * {
  margin-left: 10px;
}

.mainSectionSpace {
  padding: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  input {
    height: 30px;
    border-radius: 10px;
  }
}
